<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuelos | La hormiga voladora</title>
    <link rel="icon" type="image/x-icon" href="../static/img/logoazul.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://kit.fontawesome.com/f3cd9eb1cb.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div><a href="{{ url_for('Index') }}"><img  class="logoMain" src="../static/img/logoazul.png" alt="logo de una hormiga viajera"></a></div>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label> 
        <nav class="headernav">
                <ul>
                    <li><a class="linkNav" href="{{ url_for('Index') }}">HOME</a></li>
                    <li><a class="linkNav" href="{{ url_for('destinos')}}">DESTINOS</a></li>
                    <li><a class="linkNav" href="{{ url_for('tiposdeviajes')}}">TIPOS DE VIAJE</a></li>
                    <li><a class="linkNav" href="{{ url_for('galeria') }}">GALERIA DE FOTOS</a></li>
                    <li><a class="linkNav" href="{{ url_for('quienessomos') }}">¿QUIENES SOMOS?</a></li>
                    <li><a class="linkNav" href="{{ url_for('formularioConsultas') }}">CONTACTO</a></li>
                </ul> 
            </nav>
    </header>
    <main>
        <h1 class="title vuelostitle">Explorá nuestros destinos</h1>
        <div class="destino">
            <img src="../static/img/imagen1.webp" alt="España">
            <div>
                <h2 class="subtitulos">España</h2>
                <p class="vuelosParrafo">
                    Conocida por su rica historia, vibrante cultura y paisajes diversos, España es un destino turístico que ofrece algo para todos los gustos. Desde las playas soleadas de la costa mediterránea hasta las majestuosas montañas de los Pirineos, pasando por ciudades históricas como Madrid, Barcelona y Sevilla, España cautiva a los visitantes con su encanto único. La deliciosa gastronomía española, que incluye platos emblemáticos como la paella y el jamón ibérico, junto con festivales animados y una vida nocturna vibrante, hacen de España un destino imperdible para cualquier viajero.
                </p>
                <a class="vuelosLink" href="#">Ver más</a>
            </div>
        </div>
        <div class="destino">
            <div>
                <h2 class="subtitulos">Tailandia</h2>
                <p class="vuelosParrafo">
                    Con sus exóticas playas, templos impresionantes y una cultura rica y diversa, Tailandia es un destino que encanta a los viajeros de todo el mundo. Desde las bulliciosas calles de Bangkok hasta los serenos paisajes de Chiang Mai y las islas paradisíacas de Phuket y Koh Samui, Tailandia ofrece una experiencia inolvidable. Los sabores únicos de la cocina tailandesa, los mercados callejeros llenos de vida y las antiguas ruinas históricas completan el encanto de este país del sudeste asiático.
                </p>
                <a class="vuelosLink" href="#">Ver más</a>
            </div>
            <div>
                <img src="../static/img/imagen2.webp" alt="Tailandia">
            </div>
        </div>
        <div class="destino">
            <img src="../static/img/imagen3.webp" alt="Rusia">
            <div>
                <h2 class="subtitulos">Rusia</h2>
                <p class="vuelosParrafo">
                    Con una historia épica y una cultura fascinante, Rusia es un destino que despierta la curiosidad de los viajeros aventureros. Desde los opulentos palacios de San Petersburgo hasta los imponentes paisajes de Siberia, Rusia ofrece una experiencia única. La rica herencia cultural del país se refleja en sus museos de clase mundial, la magnificencia de la Plaza Roja de Moscú y la belleza atemporal de la Iglesia del Salvador sobre la Sangre Derramada. La vastedad de Rusia ofrece aventuras para los amantes de la historia, la naturaleza y la exploración.
                </p>
                <a class="vuelosLink" href="#">Ver más</a>
            </div>
        </div>
        <div class="destino">
            <div>
                <h2 class="subtitulos">Japón</h2>
                <p class="vuelosParrafo">
                    Japón es una fusión única de tradición y modernidad que fascina a los visitantes con su mezcla de antiguas costumbres y tecnología de vanguardia. Desde los tranquilos templos zen de Kyoto hasta los rascacielos relucientes de Tokio, Japón ofrece una experiencia de viaje inolvidable. La exquisita gastronomía japonesa, que incluye sushi, ramen y tempura, deleita a los paladares de los viajeros, mientras que las festividades tradicionales como el Hanami (observación de flores de cerezo) y el Matsuri (festivales) muestran la rica cultura del país. Con su hospitalidad cálida y paisajes impresionantes que van desde montañas nevadas hasta playas tropicales, Japón promete emocionar y cautivar a cada visitante.
                </p>
                <a class="vuelosLink" href="#">Ver más</a>
            </div>
            <div>
                <img src="../static/img/imagen4.webp" alt="Japon">
            </div>
        </div> 
    </main>
    <footer class="footer" >
        <div class="footerSuperior">
            <div class="parrafoFooter">
                <h3 class="titleFooter">Sobre nosotros</h3>
                <ul>
                    <li><a href="{{ url_for('quienessomos') }}">Quienes somos</a></li>
                    <li><a href="#">Agencias</a></li>
                    <li><a href="#">Trabaja con nosotros</a></li>
                    <li><a href="#">Afiliados</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="parrafoFooter">
                <h3 class="titleFooter">Planea tus viajes</h3>
                <ul>
                    <li><a href="#">Blog de viajes</a></li>
                    <li><a href="#">Guia de viajes</a></li>
                    <li><a href="#">Catalogos</a></li>
                    <li><a href="#">Turismo accesible</a></li>
                    <li><a href="#">Viajes de lujo</a></li>
                </ul>
            </div>
            <div class="parrafoFooter">
                <h3 class="titleFooter">Informacion importante</h3>
                <ul>
                    <li><a href="#">Condiciones generales</a></li>
                    <li><a href="#">Politica de privacidad</a></li>
                    <li><a href="#">Centro de ayuda</a></li>
                    <li><a href="#">Politica de cookies</a></li>
                </ul>
            </div>
            <div class="redesSociales">
                <h3 class="titleFooter">Seguinos en:</h3>
                <ul>
                    <li><a href="#"><i class="fa-brands fa-square-facebook iconosRedes"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram iconosRedes"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-youtube iconosRedes"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footerInferior">
            <p class="parrafoFooter">La Hormiguita viajera | todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>
